<a href="https://colab.research.google.com/github/dareoyeleke/python_scripting/blob/main/extlibrary_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# the with open statement read the file from a csv format into a string format,once it got converted to a file
with open('/content/sample_data/california_housing_test.csv', 'r') as file:
  cali_housing = file.read()
print(cali_housing)
type(cali_housing)

In [ ]:
'''
  Importing pandas library as pd and converting the csv file from sample data into a dataframe, we also can call the colummns almost like calling a list or dict,
  by calling a specific column in square brackets like contents['column_name'], and even adding methods after calling like contents['column_name'].sum()
  to sum up all contents in the column as below
'''
# libraries like pandas (pandas 2.2.2) are found in PyPi.org or conda(more in advanced section)

import pandas as pd

contents = pd.read_csv('/content/sample_data/california_housing_test.csv')

# to call a specific column in the table
contents['population']

# to sum up all contents in the table
contents['population'].sum()

np.float64(4208396.0)

In [ ]:
# to install pandas into environment using bash command with !
! pip install pandas

# to access pandas packages list
! pip list

# to install a package not actually in pandas i.e pyjokes
! pip install pyjokes

# you still have to import an installed file to use it.

In [ ]:
'''
  Basically my_list is 'self._items' and '[]' is LukesList(), basically initiating the class is calling Lukes salary,
  and then its just stored in an object i.e my_list
'''
my_list = LukesList()
my_list

[]

In [ ]:
my_list.add("Data Nerd")
my_list

['Data Nerd']

In [ ]:
# as opposed to regular .add() method, it's used like append, i.e add to the end of list, only allows one item at a time
my_list.add("Finance Nerd")
my_list

['Data Nerd', 'Finance Nerd']

In [ ]:
my_list.add("Sql Nerd")

In [ ]:
my_list.add("BI Nerd")

In [ ]:
my_list.add("Python Nerd")

In [ ]:
my_list.add("AI Nerd")

In [ ]:
my_list.add(13)

In [ ]:
 class LukesList:
    def __init__(self):
        """Initialize an empty list."""
        self._items = []

    def add(self, item):
        """Add an item to the end of the list."""
        self._items.append(item)

    def __getitem__(self, index):
        """Retrieve an item by index."""
        return self._items[index]

    def __setitem__(self, index, value):
        """Set an item at a specific index."""
        self._items[index] = value

    def __repr__(self):
        """Return a string representation of the list."""
        return str(self._items)

    def __len__(self):
        """Return the length of the list."""
        return len(self._items)

In [ ]:
# as opposed to using indices in [], in the defined class of functions, calling the __getitem__(index) method, prints the value at called index
my_list.__getitem__(1)

'Finance Nerd'

In [ ]:
# as above using the method below and following the syntax assigning an index value and the item to be set to that index
my_list.__setitem__(0, "AI Nerd")

In [ ]:
# prints the whole list in string format, i.e "[]", wraps the whole thing in quotes, doesn't change it to a string, just prints it out as one.
my_list.__repr__()

"['AI Nerd', 'Finance Nerd', 'Sql Nerd', 'BI Nerd', 'Python Nerd', 'AI Nerd', 13]"

In [ ]:
# prints out the number of values in the list
my_list.__len__()

7

In [ ]:
my_list

['AI Nerd', 'Finance Nerd', 'Sql Nerd', 'BI Nerd', 'Python Nerd', 'AI Nerd', 13]

In [ ]:
# used to print the number of elements in a list
len(my_list)

7

In [ ]:
class BaseSalary:
  # pre defined method dunder "__" and init method "__init__"
  def __init__(obj, base_salary, bonus_rate = 0.1, symbol = "$"):
    """
    obj is an attribute, the simplest form of an argument, so when BaseSalary is called, obj, which doesn't print out, is still considered a non callable atribute, an empty def function
    will print out and then adding new atribute in the defined function is considered the second, third e.t.c attribute after obj btw using B and S in BaseSalary is called camelling, i.e
    using capital letters for the first letter of a word of an object to designate or differentiate classes from other objects or values in python. So since we have new attributes, we have to assign them
    with obj."attribute" so they can be called with the object BaseSalary is applied to
    """
    # running a BaseSalary(100000) will not return 100000 as base_salary, until obj.base_salary, gets assigned to base_salary
    obj.base_salary = base_salary
    obj.bonus_rate = bonus_rate
    obj.symbol = symbol
    obj.total_salary = base_salary * (1 + bonus_rate)
    obj.bonus = obj.total_salary - obj.base_salary

  def __repr__(obj):
    """
      The "__repr__" is a magic key word, that prints out whatver is in the return statement when salary, the object the class is assigned to is called.
      It basically controls what an object,i.e "salary" returns when called, curly brackets hold the value and order of value to be printed when the assigned class is called.
      Since we have a value with multiple zeros, to add commas we denote this in the f'' with f'{value:,}' and to add decimals we do f'{value:,.2f}'. F string formats will be defined in f string on python website
    """
    return f'{obj.symbol}{obj.base_salary:,}'
    # an f'' string is used to embedd expressions here, or hold objects in the f string to be printed when the f'' is called, so when salary is called the expressions in the f'' are printed.

  def calculate_salary(obj):
    return f'{obj.symbol}{obj.total_salary:,.2f}'

  def calculate_bonus(obj):
    return f'{obj.symbol}{obj.bonus:,.2f}'

In [ ]:
salary = BaseSalary(100000)
"""
  the class "BaseSalary" and corresponding argument "100000" has to be assigned as an object, "salary" and then the attributes in the def function are called to the assigned objects
  i.e salary is the object containing the BaseSalary class, the attribute "base_salary" in the defined function can be called after it has been assigned to "base_salary" as a value with "self.base_salary"
  as the designator
"""

# base_salary here is assigned as to the attribute in the def function base_salary with "self.base_salary = base_salary"
salary

$100,000

In [ ]:
salary.calculate_salary()

'$110,000.00'

In [ ]:
salary.calculate_bonus()

'$10,000.00'

In [ ]:
class Dareskills:
   def __init__(obj, query_sql, ):
    obj.query_sql = query_sql

  def__repr__(obj):
    return F'{}{}'

In [ ]:
Data_skills = Dareskills('SELECT')
Data_skills.query_sql

'SELECT'

In [ ]:
class BaseSalary:
  def __init__(obj, base_salary, bonus_rate = 0.1, symbol = '$'):
    obj.base_salary = base_salary
    obj.symbol = symbol
    obj.bonus_rate = bonus_rate
    obj.bonus_salary = base_salary * (1 + bonus_rate)
    obj.bonus_rate_amount = obj.bonus_salary - obj.base_salary

  def __repr__(obj):
    return f'{obj.symbol}{obj.base_salary:,.2f}'

  def full_salary(obj):
    return f'{obj.symbol}{obj.bonus_salary:,.2f}'

  def show_bonus_rate(obj):
    return f'{obj.symbol}{obj.bonus_rate_amount:,.2f}'

In [ ]:
salary = BaseSalary(100000)
salary.show_bonus_rate()

'$10,000.00'