<a href="https://colab.research.google.com/github/dareoyeleke/python_scripting/blob/main/lamda_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# using lambda functions to effectively write functions effectively
(lambda x : x*2)(2)

# it can also be stored in a object
asterik = lambda x :x*2
asterik(2)

4

In [ ]:
# Filtering out every second number and then doubling them using a lambda function
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_data_list = data_list[1::2]
print(even_data_list)
lambda_list = [(lambda x : x * 2)(numbers) for numbers in even_data_list]
print(lambda_list)

[2, 4, 6, 8, 10]
[4, 8, 12, 16, 20]

### Practice Problem: Sort a List of Dictionaries by a Specific Key

Given a list of dictionaries, where each dictionary represents a person with their `name` and `age`:

`people = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}]`

Your task is to sort this list of dictionaries in ascending order based on the `age` of each person. You should achieve this using the `sort()` method or `sorted()` function with a lambda function as the `key` argument.

**Expected Output:**
`[{'name': 'Bob', 'age': 25}, {'name': 'Alice', 'age': 30}, {'name': 'Charlie', 'age': 35}]`

In [ ]:
people = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}]

# Sort the list of dictionaries using a lambda function as the key
sorted_people = sorted(people, key=lambda person: person['age'])

print(sorted_people)

[{'name': 'Bob', 'age': 25}, {'name': 'Alice', 'age': 30}, {'name': 'Charlie', 'age': 35}]

### Explanation:

*   `sorted(people, ...)`: This function takes an iterable (in this case, our `people` list) and returns a new sorted list.
*   `key=lambda person: person['age']`: This is the crucial part. The `key` argument specifies a function to be called on each list element prior to making comparisons. Here, our lambda function `lambda person: person['age']` tells `sorted()` to look at the `age` value within each `person` dictionary for comparison purposes. This way, the sorting is performed based on the age, not the default comparison of dictionaries themselves.

In [ ]:
# you can also add multiple values
(lambda x, y: x*2 + y)(2,4)
# putting it in an object
add_multi = lambda x, y: x*2 + y
add_multi(2,4)

8

### Practice Problem: Filter even numbers and double them

Given the list of numbers: `data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

Your task is to create a new list that contains only the even numbers from `data_list`, and each of these even numbers should be doubled. You should achieve this using a lambda function within a list comprehension or with `filter` and `map` functions.

**Expected Output:** `[4, 8, 12, 16, 20]`

In [ ]:
salary_list = (100, 200, 150, 120, 80, 750)

# Calculate total_salary of base_salary * (1 + bonus_rate), by adding conditions to objects in def function
def calculate_salary(base_salary, bonus_rate=.1):

# return statement helps to loop base_salary * (1 + bonus_rate) through defined function when called
  return base_salary * (1 + bonus_rate)

# list iteration loops through every variable in salary_list with the return statement when calculate_salary is called
total_salary_list = [calculate_salary(salary) for salary in salary_list]

total_salary_list

In [ ]:
# using a lambda function to simplify the function above
salary_list = (100, 200, 150, 120, 80, 750)

# Calculate total_salary of base_salary * (1 + bonus_rate), by adding conditions to objects in def function
# def calculate_salary(base_salary, bonus_rate=.1):

# return statement helps to loop base_salary * (1 + bonus_rate) through defined function when called
#  return base_salary * (1 + bonus_rate)

# list iteration loops through every variable in salary_list with the return statement when calculate_salary is called
total_salary_list = [(lambda x: x * 1.1 )(salary) for salary in salary_list]

total_salary_list

In [ ]:
# simplifying the list even further
salary_list = (100, 200, 150, 120, 80, 750)
total_salary_list = [salary * 1.1 for salary in salary_list]
print (total_salary_list)

In [ ]:
# DICTIONARY syntax : curly bracket, key and value seperated by colon and in paranthesis if it's a string, keys can be hashable i.e int, float or string, cannot be a list, value attached to a key can be a list
{'databases':'postgreql', 'strawhats':['luffy', 'nami', 'zoro', 'sanji', 'ussop'], 59:['suicide boys', 'lovell', 'ramirez']}

# assign the dictionary above to an object
assortment = {'databases':'postgreql', 'strawhats':['luffy', 'nami', 'zoro', 'sanji', 'ussop'], 59:['suicide boys', 'lovell', 'ramirez']}

# Updating the Strawhats Dict
print (list(assortment['strawhats']))
print(assortment)

# Mistakenly deleted the previous members
assortment.update({'strawhats':['Jimbei','Brook','Chopper']})
print(assortment['strawhats'])
print(assortment)

# Might as well start over so I deleted the whole value list
assortment['strawhats'].clear()
print(assortment['strawhats'])
print(dict(assortment))

# Started over with the OG Luffy
assortment['strawhats'].append('luffy')
print("The Original Strawhat is", assortment['strawhats'])

# Added everyone else in the order they joined
assortment['strawhats'].extend(['zoro', 'ussop', 'sanji', 'nami','Jimbei','Brook','Chopper'])
print("The current Strawhats are", assortment['strawhats'])

# New Dict key for Admirals and Fleet Admiral and the changes before and after marineford
assortment['Admirals'] = ('Akainu', 'Kizaru', 'Iceman')
print(assortment['Admirals'])

# mistakenly deleted the whole key values
assortment.pop('Admirals')

# recreated the values and put them in a list this time
assortment['Admirals'] = (['Akainu', 'Kizaru', 'Kuzan'])
print(assortment['Admirals'])

# Taking out Kuzan from the Admirals cause he left the Navy
assortment['Admirals'].remove('Kuzan')
print("After Marineford the Admirals are now", assortment['Admirals'])

# New Admirals get hired
assortment['Admirals'].extend(['Fujitora','Ryugokyu'])
print(assortment['Admirals'])

# Akainu gets promoted as well to Fleet Admiral
assortment['Admirals'].remove('Akainu')
assortment['Fleet Admiral'] = ('Akainu')

# Updated list of Fleet Admiral and Admirals shows
print("Since Sengoku isn't Fleet Admiral, the Fleet Admiral is now", assortment['Fleet Admiral'], "and the Admirals are now", ",".join(assortment['Admirals'][0:2]), "and", assortment['Admirals'][-1])

In [ ]:
job_type_skills = {'databases':'postgresql',
 'language':'python',
 'library':'pandas'}

In [ ]:
# Re-initialize assortment for clarity if needed, or use its current state
assortment = {'databases': 'postgreql', 'strawhats': [], 59: ['suicide boys', 'lovell', 'ramirez']}
print("Before append:", assortment['strawhats'])

assortment['strawhats'].append('luffy') # This modifies the list in-place

print("After append:", assortment['strawhats']) # Now print the modified list

In [ ]:
assortment = {'databases':'postgreql', 'strawhats':['luffy', 'nami', 'zoro', 'sanji', 'ussop'], 59:['suicide boys', 'lovell', 'ramirez']}

print("Original Strawhats list:", assortment['strawhats'])

# Adding a single new member using append()
assortment['strawhats'].append('Robin')
print("After adding Robin:", assortment['strawhats'])

# Adding multiple new members using extend()
assortment['strawhats'].extend(['Franky', 'Brook'])
print("After adding Franky and Brook:", assortment['strawhats'])

# You can also completely replace the list associated with the key
assortment['strawhats'] = ['Luffy', 'Zoro', 'Nami', 'Usopp', 'Sanji', 'Chopper', 'Robin', 'Franky', 'Brook', 'Jinbe']
print("After completely replacing the list:", assortment['strawhats'])

In [ ]:
# operations with dictionary methods, dictionaries are mutable and duplicate values are allowed, keys however cannot be a duplicate
job_type_skills['databases']

# to print keys in a dictionary
job_type_skills.keys()

#to print values in a dictionary
job_type_skills.values()

#to remove values from a dictionary and check result
job_type_skills.keys()
job_type_skills

# to add key value pair to a dictionary and check result
job_type_skills.update({'cloud':'Google Cloud'})
job_type_skills

# alternatively to add to a dictionary and check result
job_type_skills ['IDE'] = 'google colab'
job_type_skills

In [ ]:
# sets syntax is no order, no duplicates and indexes for sets, any data type is allowed
job_skills = {'powerbi', 'sql', 'python'}
job_skills

# to add a new skill and check the result
job_skills.add('VScode')
job_skills

# since sets allow no duplicates, attempting to add a duplicate will run but the set remains the same as below
job_skills.add('sql')
job_skills

# to remove a value from a set, using .pop() doesn't allow specific chosen values as sets have no order, using .remove() with a specified value works better instead
job_skills.pop()

# results from above removed powerbi, to remove a specific value instead and check results
job_skills.remove('sql')
job_skills

# sets help to remove duplicate values from a list, as shown below
dares_shirt_colors = ['black', 'blue', 'grey', 'white', 'black', 'black', 'grey', 'white']
distinct_shirt_colors = set(dares_shirt_colors)
distinct_shirt_colors

# converting back  to a list
print(list(distinct_shirt_colors))