<a href="https://colab.research.google.com/github/dareoyeleke/python_scripting/blob/main/operators_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Comparing Bool values of two variables
job_part_time = True
school_part_time = True

job_part_time and school_part_time

True

In [ ]:
# Comparing the same set of variables with different bools
job_part_time = True
school_part_time = False

job_part_time and school_part_time

False

In [ ]:
# New variables with comparison, OR statement means only one has to be true to get true result.

job_part_time = True
school_part_time = False
school_no_degree = False

job_part_time and school_part_time or not school_no_degree

True

In [ ]:
job_part_time =  False
school_part_time = False
# school_no_degree = True

job_part_time or not school_part_time

# or not school_no_degree

True

In [ ]:
'''
New variables with comparison, NOT statement means reverse of OR/AND statements
and means one both values have to be true, so and not means the first value has to be true and the opposoite of
the next has to be false, to not be false
or means only one value needs to be true, so or not means the second value becomes the opposit of the first value so,
one value has to be true, but the opposite of the next value also cannot be false as well

'''
job_part_time = True
school_part_time = False
school_no_degree = True

job_part_time and school_part_time or not school_no_degree

False

In [ ]:
"""
    Membership Operators (IN, NOT IN), values are case sensitive, pretty straightforward
    changing one letter from a value disqualifies it from being 'IN' the other value

"""
"Data" in "Data Nerd" # true
"data" in "Data Nerd" # false because case sensitive data is not same as Data
"data" not in "Data Nerd" # true becuase data is 'not in' Data nerd due to case sensitive discrepansies

True

In [ ]:
'''
    IDENTITY OPERATOR (IS, IS NOT),  'IS' should not be confused with "==", "==" is for the value in the objects,
    'IS' works with the objects holding the values, as objects have specific ID (unique identifiers)
'''

Dare = ['last born', 'male']
Iyin = ['last born', 'male']

Dare is Iyin # false because while both have the same values as lists, they both are objects which have seperate unique ID's
Dare[1] is Iyin[1] # true because the values refelected in the indices are the same i.e Dare[1] and Iyin[1] are both 'male'

Dare == Iyin # true because both objects have equal values

Dare[1] == Iyin[1] # true because the values in the objects are also equal

True

In [ ]:
'''
    bitwise operator
    & - AND e.g x & y
    | - OR e.g x|y
    ^ - XOR i.e exclusively either one or the other operator has to be true. e.g (T^F, F^T are true)
    ~ - NOT ~x i.e excludes the called  value from the applied operation
    << , >>, shifts the binary version of a value by a certain amount e.g 5<<1, shifts the binary value of 5 by 1 position
      to the left i.e bin(5) = 101, shifting once to the left creates a binary value of 1010, and converting back to
      decimal(normal) value, makes it the number 10
'''