<a href="https://colab.research.google.com/github/dareoyeleke/python_scripting/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Data Exploration â€” California Housing Dataset

This notebook provides a hands-on walkthrough of essential pandas operations using the California Housing Test dataset. It focuses on practical data manipulation techniques including filtering, descriptive statistics, grouping, and aggregation. The goal is to build a solid foundation before moving into larger data analysis and machine learning projects.

What's Covered

Importing and inspecting data

Using .loc and boolean indexing for filtering

Generating descriptive statistics with .describe()

Comparing housing prices below vs. above $500,000

Grouping values by housing_median_age

Aggregating with sum, count, mean, min, and max

Sorting and reshaping results for interpretation

In [ ]:
# to import pandas first of all
import pandas as pd

# calling the csv file from the file location with the file path and converting it to a dataframe
cali_housing_data = pd.read_csv("/content/sample_data/california_housing_test.csv")
cali_housing_data

In [ ]:
# To find the total population for home owners according to the data in the table
home_owner_med = cali_housing_data['population'].sum()
print("The total population of homeowners in Cali per county for this year is", home_owner_med, "home owners across all counties")


print("\n\n") # To make results easier to view

# To get a full picture of the numbers we're looking at using for home owner numbers we'll use the describe method
home_owner_stats = cali_housing_data['population'].describe()
print("All measures for california home owner numbers for the counties in california are \n", home_owner_stats)

In [ ]:
# WE will be looking at housing costs per county and looking at the numbers for houses that cost less and more than $500,000

standard_house_price = cali_housing_data.loc[cali_housing_data['median_house_value'] < 500000, 'median_house_value']
standard_house_price
# To get the full picture of the stats associated with houses below 500,000
stats_standard_housing = standard_house_price.describe()
print("The all inclusive stats for houses below $500,000 are as follows \n", stats_standard_housing)

print('\n\n') # to make the results easier to read

# Next for houses over $500,000
high_house_price = cali_housing_data.loc[cali_housing_data['median_house_value'] > 500000, 'median_house_value']
stats_high_house_price = high_house_price.describe()
print("The statistical measures for houses with a price tag above $500,000 is shown as \n", stats_high_house_price)
high_house_price

In [40]:
# Here we will also be pulling data on housing prices and grouping median housing prices by median_age, to see how age relates to housing prices
age_stats = cali_housing_data['housing_median_age'].describe()
print ("Age stats are as follows", age_stats)

print("\n\n")

# To give us a full picture of how age interacts with housing prices, we have the minimum, maximum, total sum and count of houses for every age of home owners across counties in california
house_price_by_age = cali_housing_data.groupby("housing_median_age", as_index= False)["median_house_value"].agg(['sum', 'count', 'mean', 'min', 'max'])
house_price_by_age # to then print out the results as a regular dataframe with indexing

table_house_price_by_age = house_price_by_age.reset_index()
table_house_price_by_age # the grouped age by house price data above, printed as an index

# To sort the data according to which ages account for the highest house purchases in descending order

house_price_by_age_table_oldest = table_house_price_by_age.sort_values(by='count', ascending= False)
house_price_by_age_table_oldest # here we see the median age 52, have the highest count of houses purchased

Age stats are as follows count   3,000
mean       29
std        13
min         1
25%        18
50%        29
75%        37
max        52
Name: housing_median_age, dtype: float64

    index  housing_median_age        sum  count    mean     min     max
51     51                  52 45,323,513    173 261,986  22,500 500,001
34     34                  35 24,750,906    118 209,753  47,500 500,001
35     35                  36 23,573,606    115 204,988  39,800 500,001
15     15                  16 21,482,102    107 200,767  55,000 500,001
33     33                  34 22,582,504    102 221,397  55,000 500,001
16     16                  17 18,734,401    100 187,344  55,000 500,001
31     31                  32 16,961,802     91 186,393  41,500 500,001
25     25                  26 20,789,803     88 236,248  59,000 500,001
36     36                  37 17,699,807     88 201,134  46,300 500,001
24     24                  25 18,945,406     86 220,295  52,600 500,001
32     32                  33 17,356,704     85 204,197  50,300 500,001
14     14                  15 14,449,803     77 187,660  42,500 500,001
18     18                  19 13,210,001     76 173,816  56,100 500,001
17     17                  18 14,818,302     76 194,978  39,200 500,001
29     29                  30 14,789,705     76 194,601  45,800 500,001
28     28                  29 16,277,603     75 217,035  59,400 500,001
23     23                  24 15,580,902     75 207,745  47,500 500,001
26     26                  27 16,409,804     74 221,754  62,700 500,001
37     37                  38 11,912,702     64 186,136  55,500 500,001
19     19                  20 13,702,903     63 217,506  50,500 500,001
20     20                  21 11,691,401     61 191,662  46,500 500,001
21     21                  22 12,065,803     60 201,097  40,000 500,001
27     27                  28 11,771,401     58 202,955  50,800 500,001
30     30                  31 11,322,002     57 198,632  44,400 500,001
13     13                  14 10,216,900     57 179,244  51,600 427,700
40     40                  41 11,516,204     56 205,646  43,100 500,001
42     42                  43 10,690,102     56 190,895  47,700 500,001
38     38                  39 12,056,503     55 219,209  50,800 500,001
22     22                  23 10,698,401     53 201,857  57,900 500,001
44     44                  45  9,902,303     51 194,163  44,800 500,001
43     43                  44 11,532,302     51 226,124  59,200 500,001
41     41                  42 10,053,803     51 197,133  64,900 500,001
39     39                  40  9,735,603     43 226,409  49,100 500,001
10     10                  11  7,075,802     41 172,581  44,600 500,001
12     12                  13  8,357,802     41 203,849  84,700 500,001
11     11                  12  7,267,200     41 177,249  49,500 365,500
45     45                  46  8,150,401     41 198,790  52,600 500,001
4       4                   5  7,914,102     39 202,926  61,300 500,001
47     47                  48  6,957,900     34 204,644  58,200 450,000
9       9                  10  5,082,601     30 169,420  37,500 500,001
3       3                   4  6,162,400     28 220,086 103,400 402,500
8       8                   9  4,578,801     27 169,585  45,000 500,001
5       5                   6  4,581,200     25 183,248  53,200 475,000
7       7                   8  5,269,901     25 210,796  86,900 500,001
46     46                  47  4,102,701     22 186,486  90,000 500,001
48     48                  49  4,787,403     21 227,972  52,500 500,001
6       6                   7  4,401,901     20 220,095  72,400 500,001
49     49                  50  3,523,203     16 220,200  49,800 500,001
2       2                   3  2,858,300     12 238,192 109,800 435,900
50     50                  51  2,362,400     11 214,764  56,700 468,800
1       1                   2  1,303,100      6 217,183  60,000 350,000
0       0                   1    196,700      2  98,350  55,000 141,700

In [39]:
import pandas as pd

# Set display option to show floats as integers (no decimals) with a thousands separator
pd.set_option('display.float_format', '{:,.0f}'.format)

# To find the median income by population by first finding the median income and then median population per county and then the divide
cali_housing_data['income'] = cali_housing_data['median_income'] * 1000000 # to convert the number from millionths to closest million
# Removed the redundant pd.DataFrame conversion, as it's not needed for a column assignment

cali_housing_data["income_per_household"] = cali_housing_data['income'] / cali_housing_data['households'] # to get the income per household value for all counties in california
income_household_df = pd.DataFrame(cali_housing_data[['income_per_household', 'income', 'households']]) # convert it to a DataFrame
sorted_household_income = income_household_df.sort_values(by = 'income_per_household', ascending=False) # sort the value descending by the income per household
sorted_household_income
stats_sorted_household_income = sorted_household_income.describe()
stats_sorted_household_income

       income_per_household     income  households
count                 3,000      3,000       3,000
mean                 15,651  3,807,272         490
std                  53,229  1,854,512         365
min                     869    499,900           2
25%                   5,019  2,544,000         273
50%                   8,440  3,487,150         410
75%                  13,720  4,656,475         597
max               1,666,678 15,000,100       4,930