<a href="https://colab.research.google.com/github/dareoyeleke/python_scripting/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
'''
  In this colab Notebook, I will be working on the pandas module. I will be using the sample data on carlifonia housing test, and then a dict data set for fake data I will create and convert it to a dataframe,
I will then manipulate the .loc(). .iloc(), boolean indexing using conditional operators, aggregation methods with statistica measures, and finally the .describe() method. I will also be using groupby and pivot tables
to help make the data more readable after performing calculations on specific columns on the dataframe.
'''
# to import pandas first of all
import pandas as pd

# calling the csv file from the file location with the file path and converting it to a dataframe
cali_housing_data = pd.read_csv("/content/sample_data/california_housing_test.csv")
cali_housing_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [24]:
# To find the median population for home owners according to the data in the table
home_owner_med = cali_housing_data['population'].sum()
print("The median population of homeowners in Cali per county for this year is", home_owner_med, "home owners across all counties")


print("\n\n") # To make results easier to view

# To get a full picture of the numbers we're looking at using for home owner numbers we'll use the describe method
home_owner_stats = cali_housing_data['population'].describe()
print("All measures for california home owner numbers for the counties in california are \n", home_owner_stats)

The median population of homeowners in Cali per county for this year is 4208396.0 home owners across all counties



All measures for california home owner numbers for the counties in california are
 count     3000.000000
mean      1402.798667
std       1030.543012
min          5.000000
25%        780.000000
50%       1155.000000
75%       1742.750000
max      11935.000000
Name: population, dtype: float64

In [39]:
# WE will be looking at housing costs per county and looking at the numbers for houses that cost less and more than $500,000

standard_house_price = cali_housing_data.loc[cali_housing_data['median_house_value'] < 500000, 'median_house_value']
standard_house_price
# To get the full picture of the stats associated with houses below 500,000
stats_standard_housing = standard_house_price.describe()
print("The all inclusive stats for houses below $500,000 are as follows \n", stats_standard_housing)

print('\n\n') # to make the results easier to read

# Next for houses over $500,000
high_house_price = cali_housing_data.loc[cali_housing_data['median_house_value'] > 500000, 'median_house_value']
stats_high_house_price = high_house_price.describe()
print("The statistical measures for houses with a price tag above $500,000 is shown as \n", stats_high_house_price)
high_house_price

The all inclusive stats for houses below $500,000 are as follows
 count      2871.000000
mean     192629.292929
std       96474.226246
min       22500.000000
25%      117500.000000
50%      173300.000000
75%      248300.000000
max      495800.000000
Name: median_house_value, dtype: float64



The statistical measures for houses with a price tag above $500,000 is shown as
 count       125.0
mean     500001.0
std           0.0
min      500001.0
25%      500001.0
50%      500001.0
75%      500001.0
max      500001.0
Name: median_house_value, dtype: float64

42      500001.0
117     500001.0
118     500001.0
128     500001.0
135     500001.0
          ...
2960    500001.0
2968    500001.0
2992    500001.0
2993    500001.0
2999    500001.0
Name: median_house_value, Length: 125, dtype: float64

In [76]:
# Here we will also be pulling data on housing prices and grouping median housing prices by median_age, to see how age relates to housing prices
age_stats = cali_housing_data['housing_median_age'].describe()
print ("Age stats are as follows", age_stats)

print("\n\n")

# To give us a full picture of how age interacts with housing prices, we have the minimum, maximum, total sum and count of houses for every age of home owners across counties in california
house_price_by_age = cali_housing_data.groupby("housing_median_age", as_index= False)["median_house_value"].agg(['sum', 'count', 'mean', 'min', 'max'])
house_price_by_age # to then print out the results as a regular dataframe with indexing

table_house_price_by_age = house_price_by_age.reset_index()
table_house_price_by_age # the grouped age by house price data above, printed as an index

# To sort the data according to which ages account for the highest house purchases in descending order

house_price_by_age_table_oldest = table_house_price_by_age.sort_values(by='count', ascending= False)
house_price_by_age_table_oldest # here we see the median age 52, have the highest count of houses purchased

Age stats are as follows count    3000.000000
mean       28.845333
std        12.555396
min         1.000000
25%        18.000000
50%        29.000000
75%        37.000000
max        52.000000
Name: housing_median_age, dtype: float64

,index,housing_median_age,sum,count,mean,min,max
51,51,52.0,45323513.0,173,261985.624277,22500.0,500001.0
34,34,35.0,24750906.0,118,209753.440678,47500.0,500001.0
35,35,36.0,23573606.0,115,204987.878261,39800.0,500001.0
15,15,16.0,21482102.0,107,200767.308411,55000.0,500001.0
33,33,34.0,22582504.0,102,221397.098039,55000.0,500001.0
16,16,17.0,18734401.0,100,187344.010000,55000.0,500001.0
31,31,32.0,16961802.0,91,186393.428571,41500.0,500001.0
25,25,26.0,20789803.0,88,236247.761364,59000.0,500001.0
36,36,37.0,17699807.0,88,201134.170455,46300.0,500001.0
24,24,25.0,18945406.0,86,220295.418605,52600.0,500001.0
32,32,33.0,17356704.0,85,204196.517647,50300.0,500001.0
14,14,15.0,14449803.0,77,187659.779221,42500.0,500001.0
18,18,19.0,13210001.0,76,173815.802632,56100.0,500001.0
17,17,18.0,14818302.0,76,194977.657895,39200.0,500001.0
29,29,30.0,14789705.0,76,194601.381579,45800.0,500001.0
28,28,29.0,16277603.0,75,217034.706667,59400.0,500001.0
23,23,24.0,15580902.0,75,207745.360000,47500.0,500001.0
26,26,27.0,16409804.0,74,221754.108108,62700.0,500001.0
37,37,38.0,11912702.0,64,186135.968750,55500.0,500001.0
19,19,20.0,13702903.0,63,217506.396825,50500.0,500001.0
20,20,21.0,11691401.0,61,191662.311475,46500.0,500001.0
21,21,22.0,12065803.0,60,201096.716667,40000.0,500001.0
27,27,28.0,11771401.0,58,202955.189655,50800.0,500001.0
30,30,31.0,11322002.0,57,198631.614035,44400.0,500001.0
13,13,14.0,10216900.0,57,179243.859649,51600.0,427700.0
40,40,41.0,11516204.0,56,205646.500000,43100.0,500001.0
42,42,43.0,10690102.0,56,190894.678571,47700.0,500001.0
38,38,39.0,12056503.0,55,219209.145455,50800.0,500001.0
22,22,23.0,10698401.0,53,201856.622642,57900.0,500001.0
44,44,45.0,9902303.0,51,194162.803922,44800.0,500001.0
43,43,44.0,11532302.0,51,226123.568627,59200.0,500001.0
41,41,42.0,10053803.0,51,197133.392157,64900.0,500001.0
39,39,40.0,9735603.0,43,226409.372093,49100.0,500001.0
10,10,11.0,7075802.0,41,172580.536585,44600.0,500001.0
12,12,13.0,8357802.0,41,203848.829268,84700.0,500001.0
11,11,12.0,7267200.0,41,177248.780488,49500.0,365500.0
45,45,46.0,8150401.0,41,198790.268293,52600.0,500001.0
4,4,5.0,7914102.0,39,202925.692308,61300.0,500001.0
47,47,48.0,6957900.0,34,204644.117647,58200.0,450000.0
9,9,10.0,5082601.0,30,169420.033333,37500.0,500001.0
3,3,4.0,6162400.0,28,220085.714286,103400.0,402500.0
8,8,9.0,4578801.0,27,169585.222222,45000.0,500001.0
5,5,6.0,4581200.0,25,183248.000000,53200.0,475000.0
7,7,8.0,5269901.0,25,210796.040000,86900.0,500001.0
46,46,47.0,4102701.0,22,186486.409091,90000.0,500001.0
48,48,49.0,4787403.0,21,227971.571429,52500.0,500001.0
6,6,7.0,4401901.0,20,220095.050000,72400.0,500001.0
49,49,50.0,3523203.0,16,220200.187500,49800.0,500001.0
2,2,3.0,2858300.0,12,238191.666667,109800.0,435900.0
50,50,51.0,2362400.0,11,214763.636364,56700.0,468800.0
1,1,2.0,1303100.0,6,217183.333333,60000.0,350000.0
0,0,1.0,196700.0,2,98350.000000,55000.0,141700.0